:root {
    --corNavbar: #fff
}

body {
    min-height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
    padding-top: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('/imagens/fundo/fundo4.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "Lato", sans-serif;
}

.navbar {
    height: 60px;
    width: 100%;
    position: fixed;
    margin: 0;
    top: 0;
    background-color: rgba(67, 69, 71, 0.377);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.imagemLogo {
    height: 50px;
}

.tituloNav {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feliz {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.formulario {
    width: 50%;
    height: 400px;
    background-color: rgba(202, 223, 226, 0.425);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border-radius: 7px;

    border: 1px solid #0000001c;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.267);
}

.formAction {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.conteudo {
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divCampo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divCampo p {
    margin: 10;
    width: 85%;
    text-align: left;
    bottom: 0;
}

.divCampo a {
    color: aliceblue;
}

.campo {
    border: none;
    border-radius: 5px;
    width: 85%;
    height: 30px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.divBotao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao {
    border: none;
    border-radius: 5px;
    background-color: rgb(24, 151, 255);
    width: 85%;
    height: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

.divAviso {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.formAction {
    width: 100%;
    height: 100%;
}
